/* CSS-reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    overflow-x: hidden;
    /* Förhindra horisontell scroll */
}

nav {
    position: fixed;
    /* Fäster menyn på skärmen */
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #1d1d1d;
    transform: translateX(-100%);
    /* Dölj menyn till vänster */
    transition: all 0.5s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    padding-top: 5rem;
}

nav.open {
    transform: translateX(0);
    /* Flyttar in menyn */
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        /* Startar utanför skärmen */
        opacity: 0;
        /* Gör länkar osynliga */
    }

    to {
        transform: translateX(0);
        /* Flyttar in menyn */
        opacity: 1;
        /* Gör länkar synliga */
    }
}

nav a {
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
    text-decoration: none;
    opacity: 0;
    /* Gör länkar osynliga */
    transform: translateX(-100%);
    /* Startar utanför skärmen */
    animation: none;
}

nav.open a {
    animation: slideIn 0.5s forwards;
    /* Använd keyframes */
}

/* skapa fördröjning för varje länk */
nav a:nth-child(1) {
    animation-delay: 0.1s;
}

nav a:nth-child(2) {
    animation-delay: 0.4s;
}

nav a:nth-child(3) {
    animation-delay: 0.7s;
}

nav a:nth-child(4) {
    animation-delay: 1s;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.1);
}


/* Styling för innehållet */
nav aside {
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    margin-right: 10px;
}

nav article h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

nav article .desc {
    font-size: 0.9rem;
    color: #ccc;
}

a.toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: red;
    cursor: pointer;
    z-index: 1100;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.2rem;
    color: #666;
}